@import "../../../globals/themes.css";

.documentation{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
}

.documentation div{
    padding: 20px;
}

.documentation div:nth-child(odd){
    background-color: var(--color-text-tertiary);
}

.documentation div span{
    font-size: 20px;
    font-weight: 600;
}

.documentation div hr{
    border: 0.5px solid var(--color-primary);
}
