@import "../../../globals/themes.css";

.section_body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
}

@media(min-width: 1024px){
    .section_body{
        grid-template-columns: 1fr 2fr;
    }
}

.profile__image{
    width: 100%;
}

.profile__image img{
    width: 100%;
    border-radius: 40px 5000px 2500px 3000px;
    transition: 2s;
}

.profile__name{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.profile__info{
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-text-primary);
}

.profile__info span{
    font-size: 17px;
    font-weight: 600;
}

.profile__info a{
    text-decoration: none;
    color: var(--color-text-secondary);
    transition: 0.4s;
}

.profile__info a:hover{
    color: var(--color-text-tertiary);
}